:root {
  --main-color:white;
  --sec-color: red;
}

*{
  box-sizing: border-box;
  margin: 0;
}
 /* header section styles */

.header { 
width: 100%;
height: 61px;
background-color:#5e5c59;
}

.nav-container {
 display: flex;
 flex-direction: row;
 justify-content:flex-end;
 align-items: center;
}

.nav-links-container {
 display: flex;

}

.nav-link {
 margin: 1.6rem;
}

.nav-link a {
 text-decoration: none;
 font-size: 20px;
 color: var(--main-color);
 font-family: songster, sans-serif;
}


.nav-link a:hover {
 color: blue;
}
 /* banner section */

.banner{
  background-color:#242625; 
 display: flex;
}

.avatar{
  margin-left: 20px;
 }

 /* conainers section */
 
 .container{

  display: flex;
  margin-top: 30PX;
}

 .child2{
  width: 80%;
}

.child1{
  width: 20%;
  border-right: 3px solid var(--sec-color);
}
.child1 h2{
 color: black;
 text-align: center;
 font-family: songster, sans-serif; 
}

p{
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: songster, sans-serif;
}

.cards{

  position: relative;

}


.pic{

 border-radius: 60%;

}

h1{
   font-family: songster, sans-serif;
   color: var(--main-color);
   text-align: center;
   font-size: 100px;
   font-weight: 100;
}


.gall{
  width: 80%;
  background-image: url("../assets/images/blue.jpg");
  object-fit: cover;
  height:400px;
  margin-right: 20px;
  border: 10px solid var(--sec-color);
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
}

.text{
  position: absolute;
  color: black;
  top: 0;
  background-color: bisque;
  font-family: songster, sans-serif;
}
 /* apps gallery section */

.apps{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
  margin-left: 250px;
  margin-top: 30px;
}
.pic2{
  object-fit: cover;
  width: 300px;
  border: 10px solid var(--sec-color);
  position: relative;
}
.pic3{
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.text2{
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: beige;
  font-family: songster, sans-serif;
}

h2{
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  font-family: songster, sans-serif;
}
 /* footer section */

.footer{
  background-color: #242625;
  height: 120px;
}



ul{
  text-align: center;
}

li{
 display: inline-block;
 margin: 20px;
 font-size: 20px;

}
.footer-container{
 display: flex;
 justify-content: center;
}
.basic{
 display: flex;
 justify-content: center;
}

.basic a{
 color:var(--main-color);
 font-family: songster, sans-serif;
 text-decoration: none;
}

/* fonts */

@font-face {
  font-family: 'songster';
  src: url(/assets/fonts/Aur.otf);
}

/* mobile size */

@media screen and (max-width: 596px) {
  .nav-container,
  .nav-links-container,
  .banner, .container, .footer-container, .basic{
    flex-direction: column;
    align-items: center;

  }

  .apps{
     flex-direction: column;
     align-items: center;
     margin-left: 0;
  }

  .basic{
     flex-direction: column;
     align-items: center;

  }

  .header, .footer {
     position: static; 
    height: 100%; 
  }

  .child1{
     border: none;
  }

}

